<section id="contact">
  <div class="row">
    <div class="col-12">
      <div class="contact-box">
        <h1>CONTACT ME</h1>
        <h2>
          Feel free to contact me and let's get you all set up with your project
        </h2>
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Enter you name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter your email address"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Enter email subject"
            />
          </div>
          <div class="form-group">
            <textarea
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter your message"
              rows="10"
              maxlength="500"
              style="resize: none;"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
