<section id="error">
  <div class="error-display text-center">
    <img src="assets/img/error-img.png" alt="" class="error-img" />
    <h1 class="error-text">
      This website is so awesome, <br />
      it refuses to run on potato browsers.
    </h1>
    <a
      href="https://www.google.com/intl/en/chrome/"
      target="_blank"
      class="btn error-button"
      >Download Google Chrome</a
    >
    <p><small>PS: Google if you're seeing this, please sponsor me :3</small></p>
  </div>
</section>
