<section id="loader">
  <h1>
    <span id="span-1">M</span>
    <span id="span-2">O</span>
    <span id="span-3">H</span>
    <span id="span-4">A</span>
    <span id="span-5">M</span>
    <span id="span-6">E</span>
    <span id="span-7">D</span>
    <span id="span-8">&nbsp;</span>
    <span id="span-9">D</span>
    <span id="span-10">E</span>
    <span id="span-11">R</span>
    <span id="span-12">O</span>
    <span id="span-13">U</span>
    <span id="span-14">I</span>
    <span id="span-15">C</span>
    <span id="span-16">H</span>
    <span id="span-17">E</span>
  </h1>
</section>
