<section id="about">
  <div class="row">
    <div class="col-lg-6 profile-col">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="profile-pic">
              <img
                class="img-fluid"
                width="140px"
                height="140px"
                src="assets/img/Mohamed_Derouiche_Freelance_Web_Developer_FullStack_JS_Tunis_Tunisie_Tunisia.jpg"
                alt="Derouiche Mohamed Full Stack Web Developer React Angular UI/UX Designer Freelance Tunis Bizerte Tunisie developpeur solution Création site internet e-commerce "
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="profile-name">
              <h1>Mohamed <span>Derouiche</span></h1>
              <h2>
                Project Manager | Full Stack Web Developer | UX/UI Designer |
                Python Programmer
              </h2>
            </div>
            <div class="profile-paragraph">
              <p>
                Hi my name is Mohamed but you already knew that. I'm currently
                the project manager at this amazing startup called
                <a target="_blank" href="https://ubiai.tools"> UBIAI</a>. I
                handle scrum master duties, I supervise, I review code... <br />
                I'm always open for new opportunities so contact me and let's
                talk business.
              </p>
            </div>
            <div class="profile-buttons">
              <button class="btn btn-primary" (click)="navigateTo()">
                Hire Me
              </button>
              <a
                class="btn btn-outline-primary"
                href="assets/Derouiche_Mohamed_Resume.pdf"
                download="Derouiche_Mohamed_Resume.pdf"
                >Download Resume</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 projects-col">
      <div class="projects">
        <h1>Projects I worked on</h1>
        <div class="projects-container">
          <div *ngFor="let project of projects">
            <app-project [project]="project"></app-project>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
