#about {
  color: #000f16;
  overflow-x: hidden;
}
.profile-col {
  background-image: url("/assets/img/about_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  text-align: center;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.3vw;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0) !important;
}
.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.profile-name h1 {
  font-weight: 700;
}
.profile-name span {
  color: #ff4e01;
}
.profile-paragraph {
  margin: 40px auto;
  text-align: justify;
}
.btn {
  margin: 0px 2px;
}
.btn-primary {
  background-color: #ff4e01;
  border-color: #ff4e01;
}
.btn-outline-primary {
  color: #ff4e01;
  border-color: #ff4e01;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #ff4e01;
  border-color: #ff4e01;
}
.projects-container {
  display: flex;
  overflow-x: scroll;
}
.projects-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
.projects-container::-webkit-scrollbar-thumb {
  width: 5px;
  height: 8px;
  background-color: #ff4e01;
  border-radius: 25px;
}
/*******************************
********** Phone Screen **********
*******************************/
@media (max-width: 576px) {
  .profile-pic {
    width: 120px;
    border: 2px solid #fef6c7;
  }
  .profile-name h1 {
    font-size: 26px;
  }
  .profile-name h2 {
    font-size: 16px;
  }
  .projects-container {
    padding: 10px;
  }
  .projects-container h1 {
    font-size: 24px;
  }
}
/*******************************
********** Tablet Screen **********
*******************************/
@media (max-width: 991px) {
  .container {
    max-width: 90%;
    padding: 20px;
    margin: 20px auto;
  }
  .profile-pic {
    width: 150px;
    border: 5px solid #fef6c7;
  }
  .projects {
    padding-top: 20px;
  }
  .projects h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .projects-container {
    margin-bottom: 16vw;
  }
}
/*******************************
********** PC Screen **********
*******************************/
@media (min-width: 992px) {
  .profile-col {
    height: 100vh;
  }
  .container {
    max-width: 60%;
    padding: 1vw;
    margin: 1vw auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
  .profile-pic {
    width: 7.8125vw;
    border: 0.26vw solid #fef6c7;
  }
  .profile-name h1 {
    font-size: 2.083vw;
  }
  .profile-name h2 {
    font-size: 1.146vw;
    font-weight: 400;
  }
  .profile-paragraph {
    margin: 2.083vw auto;
    font-size: 0.73vw;
  }
  .btn {
    margin: 0px 0.1vw;
    font-size: 0.833vw;
  }
  .projects {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
  .projects h1 {
    font-size: 1.666vw;
    font-weight: 700;
  }
}
