<nav class="navbar navbar-expand-lg navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" (click)="navigateTo('/')">
        <span *ngIf="indicator === '10000'" class="indicator"></span>
        <img
          src="assets/img/mansion.svg"
          alt="Derouiche Mohamed Full Stack Web Developer React Angular UI/UX Designer Freelance Tunis Bizerte Tunisie developpeur solution Création site internet e-commerce"
        />
        <span class="link-text">HOME</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/services']"
        (click)="navigateTo('/services')"
      >
        <span *ngIf="indicator === '01000'" class="indicator"></span>
        <img
          src="assets/img/body-scan.svg"
          alt="Derouiche Mohamed Full Stack Web Developer React Angular UI/UX Designer Freelance Tunis Bizerte Tunisie developpeur solution Création site internet e-commerce"
        />
        <span class="link-text">SERVICES</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/about']"
        (click)="navigateTo('/about')"
      >
        <span *ngIf="indicator === '00100'" class="indicator"></span>
        <img
          src="assets/img/info.svg"
          alt="Derouiche Mohamed Full Stack Web Developer React Angular UI/UX Designer Freelance Tunis Bizerte Tunisie developpeur solution Création site internet e-commerce"
        />
        <span class="link-text">ABOUT</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/contact']"
        (click)="navigateTo('/contact')"
      >
        <span *ngIf="indicator === '00010'" class="indicator"></span>
        <img
          src="assets/img/mail.svg"
          alt="Derouiche Mohamed Full Stack Web Developer React Angular UI/UX Designer Freelance Tunis Bizerte Tunisie developpeur solution Création site internet e-commerce"
        />
        <span class="link-text">CONTACT</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/socials']"
        (click)="navigateTo('/socials')"
      >
        <span *ngIf="indicator === '00001'" class="indicator"></span>
        <img
          src="assets/img/socials.svg"
          alt="Derouiche Mohamed Full Stack Web Developer React Angular UI/UX Designer Freelance Tunis Bizerte Tunisie developpeur solution Création site internet e-commerce"
        />
        <span class="link-text">SOCIALS</span>
      </a>
    </li>
  </ul>
</nav>
<div class="hoverme-arrow">
  <img
    src="assets/img/hoverme.png"
    alt="Derouiche Mohamed Full Stack Web Developer React Angular UI/UX Designer Freelance Tunis Bizerte Tunisie developpeur solution Création site internet e-commerce"
  />
</div>
