.box {
  position: relative;
  height: 300px;
  width: 500px;
  background-color: transparent;
}
.description {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 300px;
  max-width: 200px;
  padding: 15px;
  background-image: linear-gradient(to bottom right, #121026, #5d2988);
}
.banner {
  position: absolute;
  top: 25px;
  left: 0px;
}
