.box {
  position: relative;
  background-color: transparent;
  border-radius: 1.3vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0) !important;
  margin: 0px 1vw;
  cursor: pointer;
  overflow: hidden;
  transition: width 300ms ease, height 300ms ease, margin 300ms ease;
}
.inside {
  position: absolute;
  bottom: -30%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1.3vw;
  padding: 6%;
  color: black;
  overflow: hidden;
  transition: bottom 300ms ease;
}
.inside:hover {
  bottom: 0px;
}
#service-1 {
  background-image: url("/assets/img/service_box_bg_1.jpg");
}
#service-2 {
  background-image: url("/assets/img/service_box_bg_2.jpg");
}
#service-3 {
  background-image: url("/assets/img/service_box_bg_3.jpg");
}
hr {
  background-image: linear-gradient(#fe0072, #ff0046);
  border-radius: 1.3vw;
  transition: width 300ms ease, height 200ms ease, margin 300ms ease;
}
h3 {
  font-weight: 700;
  transition: all 300ms ease;
}
p {
  font-weight: 300;
  transition: all 300ms ease;
}
.btn-contact {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-weight: 400;
  background-image: linear-gradient(#fe0072, #ff0046);
}
/***************************
*********Tablet screen*******
****************************/
@media (max-width: 576px) {
  .box,
  .inside {
    border-radius: 10vw !important;
  }
}
/***************************
*********Tablet screen*******
****************************/
@media (max-width: 991px) {
  .box,
  .inside {
    border-radius: 5vw;
  }
  .box {
    height: 60vh;
    width: 36vh;
  }
  .box hr {
    width: 4.5vh;
    height: 0.5vh;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  .box h3 {
    font-size: 3.5vh;
  }
  .box p {
    font-size: 2.2vh;
  }
  .btn-contact {
    width: 25vh;
    border-radius: 10vw;
    padding: 1.5vh 5vh;
    font-size: 2.2vh;
  }
}
/***************************
********** Big screen*******
****************************/
@media (min-width: 992px) {
  .box,
  .inside {
    border-radius: 2.5vw;
  }
  .box {
    top: 50%;
    transform: translate(0, -50%);
  }
  .service-1 {
    height: 31.25vw;
    width: 18.75vw;
  }
  .service-2 {
    height: 26vw;
    width: 15.625vw;
  }
  .service-3 {
    height: 20.83vw;
    width: 12.5vw;
  }
  .service-1 hr {
    width: 2.6vw;
    height: 0.52vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  .service-2 hr {
    width: 2.16vw;
    height: 0.43vw;
    margin-top: 0.46vw;
    margin-bottom: 0.46vw;
  }
  .service-3 hr {
    width: 1.73vw;
    height: 0.29vw;
    margin-top: 0.33vw;
    margin-bottom: 0.33vw;
  }
  .service-1 h3 {
    font-size: 2vw;
  }
  .service-2 h3 {
    font-size: 1.66vw;
  }
  .service-3 h3 {
    font-size: 1.33vw;
  }
  .service-1 p {
    font-size: 1vw;
  }
  .service-2 p {
    font-size: 0.83vw;
  }
  .service-3 p {
    font-size: 0.67vw;
  }
  .btn-contact {
    border-radius: 1.3vw;
    padding: 0.5vw 1.5vw;
    font-size: 1vw;
  }
  /*Gets applied on box hover*/
  .minimize-service-box {
    height: 20.83vw;
    width: 12.5vw;
  }
  .minimize-service-box hr {
    width: 1.73vw;
    height: 0.29vw;
    margin-top: 0.25vw;
    margin-top: 0.25vw;
  }
  .minimize-service-box h3 {
    font-size: 1.33vw;
  }
  .minimize-service-box p {
    font-size: 0.67vw;
  }
  .maximize-service-box {
    height: 33.85vw;
    width: 20.31vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .maximize-service-box hr {
    width: 2.82vw;
    height: 0.56vw;
  }
  .maximize-service-box h3 {
    font-size: 2.17vw;
  }
  .maximize-service-box p {
    font-size: 1.1vw;
  }
}
