<div
  class="box"
  [id]="service.id"
  [class]="service.id"
  (mouseover)="onMouseEnter(service.id)"
  (mouseout)="onMouseOut(service.id)"
>
  <div class="inside">
    <hr />
    <h3>{{ service.heading }}</h3>
    <p>{{ service.paragraph }}</p>
    <a class="btn btn-contact d-none d-md-inline" [routerLink]="['/contact']"
      >Contact Me</a
    >
    <div class="text-right">
      <a [routerLink]="['/contact']" class="btn-contact-small d-md-none"
        ><i class="fas fa-file-signature"></i>
      </a>
    </div>
  </div>
</div>
