<section id="socials">
  <div class="row main-row">
    <div class="col-12">
      <h1>Find Me On The Internet</h1>
      <h2>Because why not</h2>
      <div class="socials-grid">
        <div class="row">
          <div class="col-sm-4 col-12">
            <div class="facebook-box box">
              <a
                class="btn"
                href="https://www.facebook.com/profile.php?id=1561617488"
              >
                <div class="social-link">
                  <h1>Facebook</h1>
                </div>
              </a>
            </div>
            <div class="instagram-box box">
              <a
                class="btn"
                href="https://www.instagram.com/derouiche.mohamed/"
              >
                <div class="social-link">
                  <h1>Instagram</h1>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="linkedin-box box">
              <a
                class="btn"
                href="https://www.linkedin.com/in/derouiche-mo7amed/"
              >
                <div class="social-link">
                  <h1>LinkedIn</h1>
                </div>
              </a>
            </div>
            <div class="github-box box">
              <a class="btn" href="https://github.com/DerouicheMed">
                <div class="social-link">
                  <h1>Github</h1>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-12">
            <div class="fiverr-box box">
              <a class="btn" href="https://www.fiverr.com/derouichemed">
                <div class="social-link">
                  <h1>Fiverr</h1>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
