<section *ngIf="displayAnnouncement" id="announcement">
  <div class="announcement-banner">
    <div class="announcement-text">
      <h1>
        Currently looking for a Graduation Project / Internship. You can find
        all my information listed in this website. Please feel free to download
        my resume or contact me.
      </h1>
      <a
        class="btn btn-download-resume"
        href="assets/Derouiche_Mohamed_Resume.pdf"
        download="Derouiche_Mohamed_Resume.pdf"
        >Download My Resume</a
      >
    </div>
    <button
      (click)="disposeAnnouncement()"
      class="btn btn-dispose-announcement"
    >
      <i class="fas fa-times-circle"></i>
    </button>
  </div>
</section>
