<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="display-message text-center">
          <h1>Services</h1>
          <h2>
            Bellow are some of the services I provide. Feel free to contact me
            at anytime
          </h2>
        </div>
      </div>
      <div class="col-sm-12">
        <div
          class="service-list d-flex flex-column flex-md-row justify-content-center"
        >
          <app-service-box [service]="service_2"></app-service-box>
          <app-service-box [service]="service_1"></app-service-box>
          <app-service-box [service]="service_3"></app-service-box>
        </div>
      </div>
    </div>
  </div>
</section>
