#services {
  background-image: url("/assets/img/main_background.jpg");
  overflow-x: hidden;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
}

/***************************
*********Phone screen*******
****************************/
@media (max-width: 576px) {
  .service-list {
    margin-bottom: 10.5vw;
  }
  .row {
    padding: 50px 0px;
  }
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 16px !important;
  }
}
/***************************
*********Tablet screen*******
****************************/
@media (min-width: 576px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .display-message h2 {
    font-size: 16px;
  }
}
/***************************
********** Big screen*******
****************************/
@media (min-width: 992px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .service-list {
    height: 37vw;
    overflow: hidden;
    transition: left 300ms ease;
    z-index: 2;
  }
  h1 {
    font-size: 2vw;
  }
  h2 {
    font-size: 1.1vw;
  }
}
