section {
  background-image: url("/assets/img/background.jpg");
}
.display-message {
  position: absolute;
  top: 50%;
  left: 15%;
  max-width: 36.5vw;
  transform: translateY(-50%);
  z-index: 2;
}
.display-message h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.4vw;
  font-weight: 700;
}

.display-message h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1vw;
  font-weight: 300;
  margin-bottom: 0.8vw;
}
.btn-more {
  position: relative;
  color: white;
  border-radius: 25px;
  padding: 0.5vw 3vw;
  font-size: 1vw;
  font-weight: 400;
}
@media (min-width: 992px) {
  .btn-more {
    border-radius: 1.3vw;
  }
  .btn-more::before,
  .btn-more::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
  .btn-more::before {
    z-index: -2;
    background-image: linear-gradient(#fe0072, #ff0046);
  }
  .btn-more::after {
    z-index: -1;
    opacity: 0;
    background-image: linear-gradient(#189ed8, #116ce8);
    transition: opacity 200ms ease;
  }
  .btn-more:hover::after {
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .display-message {
    left: 10%;
    width: 80%;
    max-width: none;
    text-align: center;
    transform: translateY(-70%);
  }
  .display-message h1 {
    font-size: 5vw;
  }

  .display-message h2 {
    font-size: 1.5vh;
  }
  .btn-more {
    margin-top: 1vw;
    padding: 1.5vw 8vw;
    border-radius: 5vw;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(#fe0072, #ff0046);
  }
}
@media (max-width: 576px) {
  .display-message h1 {
    font-size: 7vw;
  }
  .display-message h2 {
    font-size: 2vh;
    margin-bottom: 15px;
  }
  .btn-more {
    width: 60%;
    padding: 2vw 8vw;
    font-size: 16px;
  }
}
