section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.display-message {
  position: absolute;
  top: 50%;
  left: 15%;
  max-width: 36.5vw;
  transform: translateY(-50%);
  z-index: 2;
}
.display-message h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.4vw;
  font-weight: 700;
}

.display-message p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1vw;
  font-weight: 300;
}
.btn-more {
  background-image: linear-gradient(#fe0072, #ff0046);
  color: white;
  border-radius: 25px;
  padding: 0.5vw 3vw;
  font-size: 1vw;
  font-weight: 400;
}
@media (min-width: 1025px) {
  .btn-more:hover {
    background-image: linear-gradient(#189ed8, #116ce8);
  }
}
@media (max-width: 1024px) {
  .display-message {
    left: 10%;
    width: 80%;
    max-width: none;
    text-align: center;
    transform: translateY(-70%);
  }
  .display-message h1 {
    font-size: 5vw;
  }

  .display-message p {
    font-size: 1.5vh;
  }
  .btn-more {
    padding: 1vw 8vw;
    font-size: 20px;
    font-weight: 700;
  }
}
@media (max-width: 576px) {
  .display-message h1 {
    font-size: 7vw;
  }

  .display-message p {
    font-size: 2vh;
  }
  .btn-more {
    padding: 1vw 8vw;
    font-size: 20px;
    font-weight: 700;
  }
}
