.projects-container {
  position: relative;
  overflow: hidden;
  width: 20.833vw;
  height: 31.25vw;
  margin: 0.78125vw 0.78125vw 1.5625vw 0.78125vw;
  padding: 1.3vw;
  border-radius: 1.3vw;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0) !important;
}
.project-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}
.projects-container h1 {
  font-size: 1.6667vw;
  font-weight: 700;
  padding-bottom: 1%;
}

.project-description p {
  font-size: 0.9375vw;
  font-weight: 700;
  padding: 5% 0;
  border-top: 1px solid black;
}
.project-technologies p {
  margin-bottom: 0px !important;
  color: #ff4e01;
}
.project-technologies p,
.link-section a,
.link-section span {
  font-size: 0.8333vw;
}
.project-screenshots {
  position: absolute;
  top: 18.229vw;
  left: 1.3vw;
  width: 18.229vw;
  height: 10.41vw;
  overflow-x: scroll;
  display: flex;
}
.project-screenshots::-webkit-scrollbar {
  height: 8px;
  cursor: pointer !important;
  border-radius: 25px;
}
.project-screenshots::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: #fff;
  border-radius: 25px;
}
.project-screenshots img {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 7.8125vw;
  min-height: 7.8125vw;
  min-width: 5vw;
  margin-right: 5px;
}

/************************
***** Mobile Screen *****
************************/
@media (max-width: 576px) {
  .projects-container {
    width: 250px !important;
    height: 375px;
    padding: 20px !important;
    margin: 15px 5px 30px 15px;
  }
  .projects-container h1 {
    font-size: 18px;
  }
  .project-technologies p,
  .link-section a,
  .link-section span {
    font-size: 10px;
  }
  .project-description p {
    font-size: 11px;
  }
  .project-screenshots {
    top: 218.75px;
    left: 20px;
    width: 218.75px;
    height: 110px;
  }
  .project-screenshots img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .projects-container {
    width: 300px !important;
    height: 450px;
    padding: 20px !important;
    margin: 20px 5px 30px 20px;
  }
  .projects-container h1 {
    font-size: 20px;
  }
  .project-technologies p,
  .link-section a,
  .link-section span {
    font-size: 12px;
  }
  .project-description p {
    font-size: 14px;
  }
  .project-screenshots {
    top: 250px;
    left: 20px;
    width: 250px;
    height: 150px;
  }
  .project-screenshots img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 140px;
    margin-right: 5px;
  }
}
